.breed-select {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
    padding-right: 30px;
    padding-left: 30px;
    appearance: none;
}

.breed-select option {
    text-align: center;
}

.breed-select select {
    padding-left: 20px;
    padding-right: 0;
}

.loader {
    display: none;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.error {
    display: none;
    font-size: 18px;
    font-weight: bold;
    color: #ff0000;
}

.cat-image {
    max-width: 500px;
    height: auto;
    padding: 40px 30px;
}

.cat-info-container {
    margin-left: 20px;
    background-color: white;
    padding: 40px 30px;
}

.loader {
    position: relative;
}

.loader:after {
    content: '';
    background: pink;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    transform-origin: -16px -32px;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {

    0%,
    100% {
        transform: rotate(-45deg) translate(-50%, -50%);
    }

    50% {
        transform: rotate(-245deg) translate(-50%, -50%);
    }
}