/* CSS стили для вашего выпадающего списка */
.breed-select-container {
    width: 100%;
    max-width: 300px;
    /* Установите максимальную ширину по вашему желанию */
    margin: 0 auto;
}

/* Стили Slim Select */
.slim-select {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

/* Стили для выпадающего списка Slim Select */
.slim-select-dropdown {
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    max-height: 200px;
    /* Установите максимальную высоту списка по вашему желанию */
    overflow-y: auto;
}

/* Стили для элементов в выпадающем списке Slim Select */
.slim-select-optgroup,
.slim-select-option {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.slim-select-optgroup:hover,
.slim-select-option:hover {
    background-color: #f0f0f0;
}

/* Стили для активного элемента */
.slim-select-option.active {
    background-color: #007bff;
    color: #fff;
}

/* Стили для поискового поля Slim Select */
.slim-select-search {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}

/* Стили для текста "No results found" */
.slim-select-search-status {
    padding: 10px;
    color: #999;
}

/* ... */

.loader,
.error {
    display: none;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}